In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load observations dataset 
df_observations = pd.read_csv('observations.csv')

# Load species info dataset
df_species = pd.read_csv('species_info.csv')

# Merge datasets on scientific name
df_merged = pd.merge(df_observations, df_species, on='scientific_name')

print(df_merged.head())
print(df_merged.info())
print(df_merged.describe())
print(df_merged.isnull().sum())

# # Explore each dataset
# print(df_observations.head())
# print("\n" + "="*70 + "\n")
# print(df_species.head())

            scientific_name                            park_name  \
0        Vicia benghalensis  Great Smoky Mountains National Park
1            Neovison vison  Great Smoky Mountains National Park
2         Prunus subcordata               Yosemite National Park
3      Abutilon theophrasti                  Bryce National Park
4  Githopsis specularioides  Great Smoky Mountains National Park

   observations        category                        common_names  \
0            68  Vascular Plant  Purple Vetch, Reddish Tufted Vetch
1            77          Mammal                       American Mink
2           138  Vascular Plant                        Klamath Plum
3            84  Vascular Plant                          Velvetleaf
4            85  Vascular Plant                      Common Bluecup

  conservation_status
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25632 entries, 0 to 25631
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scientific_name      25632 non-null  object
 1   park_name            25632 non-null  object
 2   observations         25632 non-null  int64
 3   category             25632 non-null  object
 4   common_names         25632 non-null  object
 5   conservation_status  880 non-null    object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB
None
       observations
count  25632.000000
mean     142.214693
std       69.912475
min        9.000000
25%       86.000000
50%      124.000000
75%      195.000000
max      321.000000
scientific_name            0
park_name                  0
observations               0
category                   0
common_names               0
conservation_status    24752
dtype: int64